<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a>
            Joe's Dashboard
          </a>
        </li>
        <li>
          <a>
            About Us
          </a>
        </li>
        <li>
          <a>
            Blog
          </a>
        </li>
        <li>
          <a> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      <a>
        &copy;
        {{ test | date: "yyyy" }}, Joe's Blog</a
      >
    </div>
  </div>
</footer>
